.products {
  .sectHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.9rem;
  }

  .product-grid {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // grid-template-columns: repeat(4, 1fr);
    row-gap: 3rem;
    column-gap: 1.8rem;
  }

  .action {
    padding-top: 3.2rem;
  }
  .action a {
    color: var(--txt-color-bej);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    text-decoration: underline;
  }
}
