.contact {
  margin-top: 12.8rem;

  input,
  textarea {
    width: 100%;
    height: 5.4rem;
    background-color: var(--main-bg);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--main-input-border-color);
    display: block;
    margin: 1.5rem 0;
    outline: none;
  }
  .input-area {
    max-width: 56.3rem;
    width: 100%;
  }
  textarea {
    height: 13.6rem;
  }

  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  textarea::placeholder,
  input[type="text"]:valid,
  input[type="email"]:invalid,
  textarea:valid {
    color: var(--main-button-disabled-background-color);
    font-family: var(--main-font);
  }

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13.7rem;
    margin-top: 5.9rem;

    img {
      max-width: 68rem;
      width: 100%;
      object-fit: cover;
      border-radius: 5px 5px 300px 5px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .main {
    flex-direction: column;
  }

  input,
  textarea {
    max-width: 60rem;
    width: 100%;
  }
}
